
body {
    
    background: url(sandtile.jpg);
    background-color:burlywood;
    margin:0;
    
}

.container {
    background-color:cadetblue;
    /* max-width: fit-content; */
    margin: 0 auto;
    padding: 0 300px;
    display: flex;
    justify-content:space-between;
    
    
    
    
}

.logo {
    display: flex;
    /* align-self: */
}

.navlinks {
    list-style: none;
    
}

.navibar ul{
    display:flex;
    align-items: center;
    gap:5px;
    
}

.container1 {
    display:flex; 
    /* background-color: cadetblue; */
    /* flex-direction: row;  */
    /* border: 2px solid red; */
    justify-content:space-around;
    align-items:center; 
    padding: 0 260px;
    margin-top: 50px;
    margin-left: 40px;

    
} 

.container1.seagull {
    display:flex;
    /* border: 2px solid red; */
    justify-content: end;
    
    
} 

/* .seagull{
    border:3px solid red;
    
} */

.signup {
    background-color: royalblue;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    height: 30px;
    border-radius: 5px;
    padding:5px;
}

a {
    color:white;
}


.seagull {
    display:flex;
    /* border: 3px solid red; */
    justify-content: center;
    flex-wrap: wrap;
 } 


 .topimageinfo {
    text-align: center;}

.container2 {
    display:flex;
    justify-content: center;
    gap:100px;
    flex-shrink: 1;
    flex-wrap: wrap;
    background-color: white;
    background: rgba(255, 255, 255, 0.5);
    padding: 40px;
    
}

.pic1 {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 200px;
    gap:5px;
}

.container2 img {
    border: 4px solid skyblue;
    border-radius: 20px;
  }

.container3 {
    display:flex;
    /* border: 3px solid red; */
    /* max-height: 500px; */
    background-color: grey;
    /* margin-top: 50px; */
    justify-content: center;
    align-items: center;
    padding:40px;
}


.quote {
    font-size: 36px;
    font-style: italic;
    
}



.container4 {
    display:flex;
    background-color: cadetblue;
    justify-content:space-between;
    /* margin: 120px; */
    margin-top: 50px;
    margin-left: 220px;
    margin-right: 220px;
    margin-bottom: 50px;
    padding: 30px;
    border-radius: 5px;
    /* border: 3px solid red; */
}

.cite {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* border: 3px solid red; */
    margin-left: 200px;
    display: flex;
    justify-content: end;
    align-self: end;
}

.callaction {
    display:flex;
    flex-direction: column;
    margin-left: 70px;
    margin-bottom: 20px;

    
}

h2 {
    margin-bottom: -1px;
}

.signup2 {
    background-color: royalblue;
    border: 1px solid #fff;
    color: white;
    display:flex;
    /* flex-direction: column; */
    justify-content: center;
    /* flex: 0 0 50px; */
    align-self: center;
    margin-right: 100px;
    height: 20px;
    width: 90px;
    border-radius: 5px;
    padding: 10px;
    flex-wrap: wrap; 
    
    
}


.waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
  }

  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
    
footer {
    background-color: rgba(0,181,226,255);
    text-align: center;
    color: #fff;
    padding: 20px;
}