
body {
    
    background: url(sandtile.jpg);
    background-color:burlywood;
    
}

.container {
    background-color:cadetblue;
    /* max-width: fit-content; */
    margin: 0 auto;
    padding: 0 200px;
    display: flex;
    justify-content:space-between;
    
}

.logo {
    display: flex;
    /* align-self: */
}

.navlinks {
    list-style: none;
    
}

.navibar ul{
    display:flex;
    align-items: center;
    gap:5px;
}

.container1 {
    display:flex; 
    /* flex-direction: row;  */
    /* border: 2px solid red; */
    justify-content:space-around;
    align-items:center; 
    padding: 0 200px;
    margin-top: 50px;

    
} 

.container1.seagull {
    display:flex;
    /* border: 2px solid red; */
    justify-content: space-between;
    
} 

.signup {
    background-color: royalblue;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    border-radius: 5px;
    padding:5px;
}

a {
    color:white;
}


.seagull {
    display:flex;
    /* border: 3px solid red; */
    justify-content: center;
    flex-wrap: wrap;
 } 

 /* .container2 {
    border:3px solid red;
    display:flex;
    flex-direction: center;
    align-items: center; 
    
 } */

 .topimageinfo {
    text-align: center;}

.container2 {
    display:flex;
    justify-content: center;
    gap:100px;
    flex-shrink: 1;
    flex-wrap: wrap;
}

.pic1 {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 200px;
    gap:5px;
}

.container2 img {
    border: 4px solid skyblue;
    border-radius: 20px;
  }

.container3 {
    display:flex;
    /* border: 3px solid red; */
    /* max-height: 500px; */
    background-color: grey;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    padding:10px;
}

/* .quote {
    display: inline-block;
    margin:1em;
    overflow:hidden;
} */

.quote{
    font-size: 1.4em;
    width:60%;
    margin:50px auto;
    font-family:Open Sans;
    font-style:italic;
    color: #000000;
    padding:1.2em 30px 1.2em 75px;
    /* border-left:8px solid #78C0A8 ; */
    line-height:1.6;
    position: relative;
    background:grey;
  }

.container4 {
    display:flex;
    background-color: cadetblue;
    justify-content: space-around;
    margin: 80px;
    padding: 30px;
    border-radius: 5px;
    border: 3px solid red;
}

.signup2 {
    background-color: royalblue;
    border: 1px solid #fff;
    color: white;
    display:flex;
    /* flex-direction: column; */
    justify-content: center;
    /* flex: 0 0 50px; */
    align-self: center;
    height: 20px;
    width: 90px;
    border-radius: 5px;
    padding: 10px;
    flex-wrap: wrap; 
    
}
    
  